@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.roboto-google {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
}

.ms-madi {
    font-family: "Ms Madi", cursive;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
}