
/*1. Creamos variables para el ancho y el alto */

$ancho-caja: 400px; /* root: { --ancho-caja: 400px; } */
$alto-caja: 400px;
$propiedad-caja: background-color;

.caja{
    width: $ancho-caja; /* reemplazamos el valor por las variables */
    height: $alto-caja;
    background-color: blue;
    transition: $propiedad-caja 1s ease; /* default */
    /* inicia lento - acelera - termina lento */
}

.caja:hover{
    background-color: red;
}

.cajaDos{
    width: $ancho-caja;
    height: $alto-caja;
    background-color: green;
    transition: $propiedad-caja 1s linear;
    /* es constante */
}

.cajaDos:hover{
    background-color: yellow;
}

.cajaTres{
    width: $ancho-caja;
    height: $alto-caja;
    background-color: purple;
    transition: $propiedad-caja 1s ease-in-out;
    /* inicia lento - acelera al final */
}

.cajaTres:hover{
    background-color: pink;
}

.cajaCuatro{
    width: $ancho-caja;
    height: $alto-caja;
    background-color: orange;
    /* dividimos las propiedades de transicion */
    transition-property: $propiedad-caja;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 2s;
}

.cajaCuatro:hover{
    background-color: brown;
}

.cajaCinco{
    width: $ancho-caja;
    height: $alto-caja;
    background-color: teal;
    transition: $propiedad-caja 1s ease-out;
}

.cajaCinco:hover{
    background-color: lime;
}
